<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" routerLink="">Home</a></p>
      <p><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" routerLink="perfums">Agregar perfume</a></p>
      <p><a class="link-dark link-offset-2 link-underline link-underline-opacity-0" routerLink="catalog">Catálogo</a></p>
    </div>
  </div>