
    <div class="container mt-5">
        <div class="row">
            <div *ngFor="let item of perfums" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{item.photo}}" class="card-img-top img-fluid w-100 p-2" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>
                      <p class="card-text"> <strong>Precio:</strong>{{item.casa}}</p>
                      <p class="card-text"> <strong>Nota:</strong>#$%&</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
