
<div class="container">
  <div class="row">
    <form [formGroup]="formPerfum" (ngSubmit)="guardarPerfume()" class="row">
      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="form-floating mb-3">
          <input formControlName="name" type="text" class="form-control" name="name" id="name" required>
          <label for="name" class="form-label">Nombre:</label>
          <span class="text-danger" *ngIf="formPerfum.get('name')?.hasError('required')">el nombre es requerido</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="form-floating mb-3">
          <input formControlName="house" type="text" class="form-control" name="house" id="house" required>
          <label for="house" class="form-label">Casa:</label>
          <span class="text-danger" *ngIf="formPerfum.get('house')?.hasError('required')">el nombre es requerido</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="form-floating mb-3">
          <input formControlName="gender" type="text" class="form-control" name="gender" id="gender" required>
          <label for="gender" class="form-label">Genero:</label>
          <span class="text-danger" *ngIf="formPerfum.get('gender')?.hasError('required')">el nombre es requerido</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="form-floating mb-3">
          <input formControlName="status" type="text" class="form-control" name="status" id="status" required>
          <label for="status" class="form-label">Estado:</label>
          <span class="text-danger" *ngIf="formPerfum.get('status')?.hasError('required')">el nombre es requerido</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="form-floating mb-3">
          <input formControlName="description" type="text" class="form-control" name="description" id="description" required>
          <label for="description" class="form-label">Descripción:</label>
          <span class="text-danger" *ngIf="formPerfum.get('description')?.hasError('required')">el nombre es requerido</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-4">
        <div class="form-floating mb-3">
          <input formControlName="concentration" type="text" class="form-control" name="concentration" id="concentration" required>
          <label for="concentration" class="form-label">Concentración:</label>
          <span class="text-danger" *ngIf="formPerfum.get('concentration')?.hasError('required')">el nombre es requerido</span>
        </div>
      </div>
      <div class="d-grid">
        <button class="btn btn-dark btn-lg" data-bs-dismiss="modal"  type="submit">Guardar</button>
      </div>
    </form>
  </div>
     
</div>